<div class="container-fluid no-left-padding no-right-padding page-banner gallery-masonry-banner">
   <div class="container">
      <h3 class="tc_white">FREQUENTLY ASKED QUESTIONS</h3>
      <ol class="breadcrumb">
         <li><a class="tc_white tc_white_h" href="#"></a></li>
         <!-- <li class="active tc_white"></li> -->
      </ol>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="accordion panel-group" id="accordionExample">
        <% FaqType.all.each do |faqq| %>
         <div class="faqHeader"><%= faqq.name %></div>
         <% faqq.faqs.sort_by(&:created_at).each do |fa| %>
          <div class="panel panel-success">
            <div class="panel-heading" id="headingOne">
              <h4 class="panel-title">
                <a type="button" data-toggle="collapse" data-target="#collapseOne_<%=fa.id%>" aria-expanded="true" aria-controls="collapseOne">
                  <i class="more-less glyphicon glyphicon-plus"></i>
                  <%= fa.try(:question) %>
                </a>
              </h4>
            </div>
            <div id="collapseOne_<%=fa.id%>" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="panel-body">
                <%= fa.description.html_safe %>
              </div>
            </div>
          </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
   /*******************************
   * ACCORDION WITH TOGGLE ICONS
   * Does not work properly if "in" is added after "collapse".
   *******************************/
 
   .panel-group .panel {
   border-radius: 0;
   box-shadow: none;
   border-color: #01c26e;
   }
   .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	}
   .panel-title {
   margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
   }
   .panel-title > a {
   display: block;
   padding: 15px;
   text-decoration: none;
   }
   .more-less {
   float: right;
   color: #01c26e;
   }
   .panel-success > .panel-heading + .panel-collapse > .panel-body {
   border-top-color: #EEEEEE;
   }
   .faqHeader {
        font-size: 19px;
        margin: 20px;
    }
</style>
<script type="text/javascript">
function toggleIcon(e) {
      $(e.target)
          .prev('.panel-heading')
          .find(".more-less")
          .toggleClass('glyphicon-plus glyphicon-minus');
  }
  $('.panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script> 
