
<div class="container-fluid no-left-padding no-right-padding page-banner gallery-masonry-banner">
    
  <div class="container">
    <h3 class="tc_white">Welcome <%=current_user.name%> <%= current_user.last_name %></h3>
    <ol class="breadcrumb">
      <li><a class="tc_white tc_white_h" href="#"></a></li>
      <!-- <li class="active tc_white"></li> -->
    </ol>
  </div>
</div>
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
       <div class="col-md-12 ">
<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Change Password</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                
               <!--  <input id="profile-image-upload" class="hidden" type="file"> -->
               <div style="color:#999;" >profile image</div>
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;"><%= current_user.name %> <%= current_user.last_name %></h4></span>
              <span><p>Guest</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 "><%= current_user.name %>  </div>
     <div class="clearfix"></div>
<div class="bot-border"></div>



<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> <%= current_user.last_name %></div>
  <div class="clearfix"></div>
<div class="bot-border"></div>



<div class="col-sm-5 col-xs-6 tital " >Nationality:</div><div class="col-sm-7">Indian</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Email Id:</div><div class="col-sm-7"><%= current_user.email %></div>
 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Mobile no:</div><div class="col-sm-7"> <%= current_user.phone%></div>
  <div class="clearfix"></div>
<div class="bot-border"></div>
<!-- <div class="col-sm-5 col-xs-6 tital " > -->
<!-- <div class="col-sm-6 col-xs-12 tital " >Change password:</div> -->
<!-- 
</div> --><div>
  
 <%#= resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital ">Current Password<i>(Please confirm your Current Password)</i></div>
     <div class="col-sm-7">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

  <div class="clearfix"></div>
     <div class="bot-border"></div>

    <div class="col-sm-5 col-xs-6 tital " >New Password <i>(leave blank if you don't want to change it)</i></div>
    <div class="col-sm-7">
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
    </div>
    <div class="clearfix"></div>
     <div class="bot-border"></div>
    <div class="col-sm-5 col-xs-6 tital "> Password Confirmation</div>
     <div class="col-sm-7">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>
    <div class="clearfix"></div>
     <div class="bot-border"></div>
       <div class="clearfix"></div>
     <div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " ></div><div class="col-sm-7"><%= f.submit "Update" %></div>
    
  
    <%#= f.submit "Update" %>
  </div>

<% end %>
 <div class="clearfix"></div>
     <div class="bot-border"></div>
<div class="col-sm-5 col-xs-6 tital " >Delete my account:</div><div class="col-sm-7 col-xs-6 "><%= button_to "Click me", registration_path(resource_name), data: { confirm: "Are you sure? want to delete your account??" }, method: :delete %></div>

  <div class="clearfix"></div>
     <div class="bot-border"></div>
       <div class="clearfix"></div>
     <div class="bot-border"></div>


<div class="col-sm-5 col-xs-6 tital " ></div><div class="col-sm-7"><%= link_to "Back", :back %></div> 



</div>

            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  
   <script>
                $(function() {
      $('#profile-image1').on('click', function() {
          $('#profile-image-upload').click();
      });
  });       
   </script>
       
   </div>
</div>


         <style type="text/css">
                        input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
  border:2px solid #03b1ce ;}
  .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}  
         </style>
