<%= form_with(model: booking_date, local: true) do |form| %>
  <% if booking_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_date.errors.count, "error") %> prohibited this booking_date from being saved:</h2>

      <ul>
      <% booking_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reserved_date %>
    <%= form.date_select :reserved_date %>
  </div>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.number_field :booking_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
